
.header {
  width: 96%; 
  background: rgba(255, 255, 255, 0);
  margin: 1% auto;
  margin-bottom: 0;
  height: 100px; 
  border-bottom: 1px solid white;
}

.navbar-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 2%; 
}

.logo img {
  height: 100%; 
  max-height: 100px; 
}

.HeaderProfile{
  display: flex;
}

.HeaderProfile a {
  text-decoration: none; 
  color: whitesmoke; 
  display: flex; 
  align-items: center; 
}

.HeaderProfile a:hover {
  color: whitesmoke; 
}
