.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 300px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modalHeader {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.toggleGroup {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.toggleGroup button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.active {
  background-color: #007bff;
  color: white;
}

.inputField {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.inputField input {
  margin-right: 5px;
  padding: 5px;
  width: 100px;
}

.inputField select {
  padding: 5px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.buttonGroup button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.goalAchieved {
  color: green;
  font-weight: bold;
  text-align: center;
}