/* maps.module.css */
.recenterButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.infoContainer {
  margin-top: -50px;
}
.maincontainermaps {
  display: flex;
}

.distance{
  color: white;
  font-size: 50px;
  margin-top: -20%;
  margin-left: 60%;
}
.distance span{
  font-size: 20px;
}
.distance p{
  font-size: 20px;
  margin-top: -5%;
  margin-left: -55%;
  color: antiquewhite;
}
.time{
  color: white;
  font-size: 30px;
  margin-top: -10%;
  margin-left: 82%;
}
.time p{
  font-size: 20px;
}
.mapsbutton1{
  color: white;
  background-color: red;
  padding: 5px 10px 5px 10px;
  margin-left: 60%;
  border: none;
 
}
.mapsbutton4{
  color: white;
  background-color: red;
  padding: 5px 10px 5px 10px;
  margin-left: 60%;
  border: none;
 
}
.mapsbutton2{
  color: white;
  background-color: red;
  padding: 5px 10px 5px 10px;
  border: none;
 
}
.mapsbutton3{
  color: white;
  background-color: rgb(95, 84, 84);
  padding: 5px 10px 5px 10px;
  border: none;
 
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 300px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modalHeader {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.toggleGroup {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.toggleGroup button {
  padding: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  margin: 0 5px;
}

.toggleGroup .active {
  font-weight: bold;
  text-decoration: underline;
}

.inputField {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.inputField input,
.inputField select {
  padding: 5px;
  margin: 0 5px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.buttonGroup button {
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.buttonGroup button:hover {
  background: #0056b3;
}
@media (min-width: 1500px) {
  .distance{
    color: white;
    font-size: 60px;
    margin-top: -20%;
    margin-left: 60%;
  }
  .distance span{
    font-size: 20px;
  }
  .distance p{
    font-size: 20px;
    color: antiquewhite;
    margin-top: 1%;
    margin-left: -70%;
  }
  .time{
    color: white;
    font-size: 50px;
    margin-top: -9%;
    margin-left: 78%;
  }
  .time p{
    font-size: 20px;
  }
}
