.menu {
  margin-top: 20px;
}

.profileItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  padding: 20px 0;
  height: 15vh;
}
.profileIcon-container{
  height: 40vh;
  border: 2px solid red;
}
.menuprofileIcon {
  font-size: 8vh;
  
}
.menuprofileImage{
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
}

.profileName {
  font-size: 18px;
  font-family: 'Broadway', sans-serif; 

}

.menuItem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menuItem.selected {
  background-color: whitesmoke;
  color: black;
  border-radius: 8px;
}

.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.label {
  flex-grow: 1;
  white-space: nowrap;
}
