@keyframes easeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.formContainer {
  animation: easeIn 0.7s forwards;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
  animation: easeIn 0.7s forwards;


  }

  .heading{
    color: white;
    
  }
  
  .form {
    height: 50vh;
width: 96%;
    display: flex;
    flex-direction: column;
   
    border-radius: 20px;
  }
  
  .label {
    color: white;
  animation: easeIn 0.7s forwards;

  }
  
  .input,
  .select,
  .textarea {
    color: black;
    border-radius: 8px;
    width: 80%;
    margin: 1%;
  animation: easeIn 0.7s forwards;

  
  }
  option{
    background-color: rgb(103, 93, 93);
    width:10px;
  }
  .input:focus,
  .select:focus,
  .textarea:focus {
    border-color: #44cbdd;
  }
  
  .button {
    background-color: #44cbdd;
    color: #000000;
    border: none;
    border-radius: 8px;
    padding: 2%;
    font-size: 14;
    margin: 3%;
    margin-left:25%;
    align-items: center;
    width: 50%;
  animation: easeIn 0.7s forwards;

  }
  
  .button:hover {
    background-color: #21a1f1;
  }
  .twoFormInputs{
    display: flex;
    flex-direction: row;
  }
  